body, button, input {
	margin: 0;
	background-color: #0e1e1e;
	color: #dfefef;
	/* font-size: width (or height) of 1 #board .grid square; */
	font-size: calc(100vmin * 3 / 28);
	font-family: serif;
}
a {
	color: #dfefef;
}
input {
	padding-top: 0.3em;
}
.piece {
	color: black;
}
button {
	display: block;
	border: 2px solid #dfefef;
	border-radius: 0.5em;
	padding: 0.4em 0.8em 0.2em 0.8em;
	margin: 0.5em auto;
	cursor: pointer;
}
button:active {
	background-color: #dfefef;
	color: #0e1e1e;
}

.hidden {
	display: none !important;
}

/* basic layout */
#header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: calc(100vmin * 2 / 28); 
	height: calc(100vmin * 2 / 28); 
	margin: 0;
	padding: 0;
	padding-left: 0.5em;
	font-size: calc((100vmin * 2 / 28) / 3.3);
	font-weight: bold;
	cursor: pointer;
	z-index: 1;
}
#board {
	position:relative;
	top: 0;
	left: 0;
	width: 100vmin;
	height: 100vmin;
	background-color: #592b05;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	overflow: hidden;
}
#thrown-outs-container {
	position: relative;
	margin: 0;
	width: 100vmin;
	height: calc(100vmin * 2 / 28);
	line-height: calc(100vmin * 2 / 28);
	font-size: 0.5em;
	overflow: visible;
}
#cover {
	position: relative;
	top: 0.1em;
	margin: 0;
	width: 100vmin;
	height: 100vmin;
	overflow: hidden;
	box-sizing: border-box;
}
#game-status, #move-status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
#move-status {
	font-size: 0.5em;
	background-color: #0e1e1e;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
#notification-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	flex-flow: column;
}
#footer {
	position: relative;
	font-size:0.3em;
	text-align: right;
}

/*********/
/* board */
/*********/
#board.error {
	background: initial;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center; 
}
#board div.edging, #board div.grid {
	position: absolute;
	box-sizing: border-box;
}
#board div.edging {
	font-size: calc(1em / 3);
}
#board div.edging.horizontal, #board div.edging.vertical {
	color: #ffd700;
}
#board div.edging.top {
	top: 0;
	height: calc(100% * 2 / 28);
}
#board div.edging.bottom {
	bottom: 0;
	height: calc(100% * 2 / 28);
}
#board div.edging.left {
	left: 0;
	width: calc(100% * 2 / 28);
}
#board div.edging.right {
	right: 0;
	width: calc(100% * 2 / 28);
}
#board div.edging.horizontal {
	left: calc(100% * 2 / 28);
	width: calc(100% * 24 / 28);
	line-height: calc(100vmin * 2 / 28);
}
#board div.edging.horizontal div {
	float: left;
	width: 12.5%;
	height: 100%;
}
#board div.edging.vertical {
	top: calc(100% * 2 / 28);
	height: calc(100% * 24 / 28);
	line-height: calc(100vmin * 3 / 28);
}
#board div.edging.vertical div {
	width: 100%;
	height: 12.5%;
}
#edging-top div, #edging-right div, #edging-top-right {
	transform: rotate(180deg);
}
#board div.edging.corner {
	line-height: calc(100vmin * 2 / 28);
}
#edging-bottom-left.enabled, #edging-top-right.enabled {
	cursor: pointer;
}
#edging-top-right {
	color: black;
}
#edging-bottom-left {
	color: white;
}

#board .grid {
	top: calc(100% * 2 / 28);
	left: calc(100% * 2 / 28);
	/* this is the width of 1 #board .grid square */
	/* 0 edging +2/28 grid +24/28 edging +2/28 */
	width: calc(100% * 24 / 28);
	height: calc(100% * 24 / 28);
	font-size: calc(1em * 5 / 6);
}
#board .grid div {
	position: relative;
	float: left;
	width: 12.5%;
	height: 12.5%;
	cursor: pointer;
}
#board .grid div.light-square {
	background-color: #f0d9b5;
}
#board .grid div.dark-square {
	background-color: #b58863;
}
#board .grid div.last-move.light-square {
	background-color: #d0e9a5;
}
#board .grid div.last-move.dark-square {
	background-color: #a59853;
}

#board .grid span.piece, #board .grid span.marker {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	box-sizing: border-box;
}
#board .grid span.marker {
}
#board .grid span.marker.last-move-white {
	background-color: rgba(0, 255, 0, 0.125);
}
#board .grid span.marker.last-move-black {
	background-color: rgba(0, 0, 255, 0.125);
}
#board .grid span.marker.check {
	background-color: rgba(255, 0, 0, 0.4);
}
#board .grid span.marker.check-mate {
	background-color: rgba(255, 0, 0, 0.4);
	transform: rotate(90deg);
}
#board .grid span.marker.next-move-white {
	background-color: rgba(0, 255, 0, 0.125);
}
#board .grid span.marker.next-move-black {
	background-color: rgba(0, 0, 255, 0.125);
}
#board .grid span.marker.last-move.next-move-to {
	background-color: rgba(0, 255, 255, 0.125);
}
#board .grid span.marker.next-move-possible-to {
	background-color: transparent;
}
#board .grid span.marker.last-move-white.next-move-possible-to {
	background-color: rgba(0, 255, 0, 0.125);
}
#board .grid span.marker.last-move-black.next-move-possible-to {
	background-color: rgba(0, 0, 255, 0.125);
}
#board .grid span.marker.next-move-possible-to::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	margin: 40%;
	width: 20%;
	height: 20%;
	box-sizing: border-box;
	border-radius: 100%;
}
#board .grid span.marker.next-move-possible-to.next-move-white::after {
	background-color: rgba(0, 255, 0, 0.5);
}
#board .grid span.marker.next-move-possible-to.next-move-black::after {
	background-color: rgba(0, 0, 255, 0.5);
}
#board .grid span.marker.next-move-possible-to.next-move-white:hover {
	background-color: rgba(0, 255, 0, 0.125);
}
#board .grid span.marker.next-move-possible-to.next-move-black:hover {
	background-color: rgba(0, 0, 255, 0.125);
}
#board .grid span.marker.last-move-black.next-move-possible-to.next-move-white:hover,
#board .grid span.marker.last-move-white.next-move-possible-to.next-move-black:hover {
	background-color: rgba(0, 255, 255, 0.125);
}
#board .grid span.marker.next-move-possible-to:hover::after {
	display: none;
}

#promotion-overlay {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(14, 30, 30, 0.875);
}
#promotion-overlay.show {
	display: flex;
	justify-content: center;
	align-items: center; 
}
#promotion-overlay span.piece {
	display: block;
	margin: 0 calc((100vmin * 3 / 28) / 4);
	background-color: rgba(223, 239, 239, 0.6);
	font-size: calc(1em * 5 / 6);
	width: calc(100vmin * 3 / 28);
	height: calc(100vmin * 3 / 28);
	cursor: pointer;
}
#promotion-overlay span.piece:hover {
	background-color: rgba(0, 255, 255, 0.6);
}

/* board animation */
#board, #promotion-overlay, #board .edging, #board .grid {
	transition-duration: 0.8s;
	transition-property: top, left, margin, padding, width, height, transform, position;
}
#header, #cover, #footer, #board .grid span.piece, #promotion-overlay span { 
	transition-duration: 0.8s;
	transition-property: all;
}
/* board rotation */
#board.rotated180deg {
	transform: rotate(180deg);
}
#board.rotated180deg .grid span.marker span.piece, #board.rotated180deg #promotion-overlay {
	transform: rotate(-180deg);
}
/*********************/
/* thrown out pieces */
/*********************/
#thrown-outs-container div.thrown-outs {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	width: 50%;
	padding: 0 0.5em;
	height: 100%;
}
#thrown-outs-white {
	left: 0;
}
#thrown-outs-black {
	left: 50%;
}
#thrown-outs-container .piececount {
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 0.1em;
}
#thrown-outs-black .piececount {
	float: right;
}
#thrown-outs-container .piececount.last-move .piece {
	background-color: rgba(255, 100, 100, 0.6);
}
div.thrown-outs .piece {
	display: inline-block;
	box-sizing: border-box;
	height: 1.2em;
	line-height: 1.35em;
	background-color: rgba(223, 239, 239, 0.6);
}
div.thrown-outs .count {
	font-size: 0.7em;
}
/* throen out pieces flipping at board rotation */
#board, #thrown-outs-container, #thrown-outs-container .thrown-outs, #thrown-outs-container .piececount { 
	transition-duration: 0.8s;
	transition-property: top, left, margin, width, height, transform;
}
#thrown-outs-container.rotated180deg div.thrown-outs {
	transform: rotate(180deg);
}
#thrown-outs-container.rotated180deg #thrown-outs-white {
	left: 50%;
}
#thrown-outs-container.rotated180deg #thrown-outs-black {
	left: 0;
}
#thrown-outs-container.rotated180deg .piececount {
	transform: rotate(-180deg);
}

/***************/
/* game status */
/***************/
#game-status div:first-child {
	margin-top: calc(100% * 0.7 / 28);
}
#game-status div:last-child {
	margin-bottom: calc(100% * 0.7 / 28);
}
#game-status-header {
	height: calc(100% * 4 / 28);
	font-size: calc(1em * 4 / 3);
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
}
#game-status-header p {
	margin: 0;
}
#game-status-icon {
	font-size: calc(1em * 5 / 6);
	white-space:nowrap;
}
#game-status-icon span.piece {
	display: inline-block;
	background-color: rgba(223, 239, 239, 0.6);
	width: calc(1em * 6 / 5);
	height: calc(1em * 6 / 5);
	text-align: center;
}
#game-status-text {
	padding-left: 0.2em;
	font-size: calc(0.5em * 5 / 6);
	display: flex;
	align-items: center;
	text-align: center;
}
#game-status-moves {
	visibility: hidden;
  box-sizing: border-box;
	width: 100%;
	height: calc(100% * 23 / 28);
	border: 1px solid black;
}
/*************/
/* move status */
/*************/
#move-status button, #move-status input {
	padding-top: 0.3em;
	font-size: 1em;
}
#move-status div:first-child {
	margin-top: calc(100% * 0.7 / 28);
}
#move-status div:last-child {
	margin-bottom: calc(100% * 0.7 / 28);
}
#move-status div.link {
	text-align: center;
}
#move-status div.link input {
	display: block;
	margin: 0 auto 0.2em;
}
#move-status div.link input {
	width: 100%;
	background-color: transparent;
	text-align: center;
}
#move-status div.actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#move-status div.actions a {
	display: block;
	margin: 0 1em;
}

#move-status div.tip {
	text-align: center;
	font-size: 0.5em;
	cursor: pointer;
}

/************************/
/* notification overlay */
/************************/
#notification-overlay, #notification-overlay div.notification {
	transition-duration: 0.2s;
	transition-property: height, min-height, padding, border, visibility;
	overflow: hidden;
}
#notification-overlay div.notification {
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(14, 30, 30, 0.8);
	border: 2px solid #dfefef;
	border-radius: 0.5em;
	padding: 0.8em 0.8em 0 0.8em;
	margin: 0.5em auto;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	font-size: 0.5em;
}
#notification-overlay div.notification button {
	font-size: 1em;
}
#notification-overlay p {
	margin: 0;
}
#notification-overlay p.message {
	margin-bottom: 0.6em;
}
#notification-overlay p.hint {
	font-size: 0.7em;
}
#notification-overlay.invisible {
	visibility: hidden;
}
#notification-overlay.invisible div.notification {
	min-height: 0;
	height: 0;
	padding: 0;
	border: 0;
}

/*********************/
/* responsive design */
/*********************/
/* 8.4cm = 318px (317.480314961)*/
@media (orientation: portrait) and (min-width: 8.4cm) {

	body, button, input {
		font-size: calc(8.4cm * 3 / 28);
	}

	#header {
		font-size: calc((100vw - 8.4cm) / 3);
		width: auto;
		height: calc((100vw - 8.4cm) / 2);
		margin-left: calc((100vw - 8.4cm) / 2);
		padding-left: 0;
		justify-content: flex-start;
		align-items: flex-end;
	}
	#board, #cover, #thrown-outs-container {
		margin-left: calc((100vw - 8.4cm) / 2);
		width: 8.4cm;
	}
	#board {
		margin-top: calc((100vw - 8.4cm) / 2);
		height: 8.4cm;
	}
	#cover {
		height: 8.4cm;
	}
	#thrown-outs-container {
		height: calc((8.4cm * 2) / 28);
		line-height: calc(8.4cm * 2 / 28);
	}

	#board div.edging.horizontal {
		line-height: calc(8.4cm * 2 / 28);
	}
	#board div.edging.vertical {
		line-height: calc(8.4cm * 3 / 28);
	}
	#board div.edging.corner {
		line-height: calc(8.4cm * 2 / 28);
	}
	#promotion-overlay span.piece {
		margin: 0 calc((8.4cm * 3 / 28) / 4);
		width: calc(8.4cm * 3 / 28);
		height: calc(8.4cm * 3 / 28);
		font-size: calc((8.4cm * 3 / 28) * 5 / 6);
	}

}

/* 9.25cm = 350px (349.606299213) */
@media (orientation: portrait) and (min-width: 8.4cm) and (max-width: 9.25cm) {
	#header {
		box-sizing: border-box;
		width: calc(100vmin * 2 / 28); 
		height: calc(100vmin * 2 / 28); 
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: calc((100vmin * 2 / 28) / 3.3);
		margin-top: calc((100vw - 8.4cm) / 2);
		padding: 0;
		padding-left: 0.5em;
	}
}

/* 10.2cm = 386px (385.511811024) */
@media (orientation: portrait) and (min-width: 10.2cm) {
	/* display is wide enugh to rearange trown outs to side */
	#thrown-outs-container {
		height: calc((8.4cm * 3) / 28);
		transform: rotate(-90deg);
		transform-origin: center -4.2cm;
	}
	#thrown-outs-container .piececount {
		transform: rotate(90deg);
	}
	#thrown-outs-white .piececount {
		padding-top: 0.7em
	}
	#thrown-outs-container.rotated180deg .piececount {
		transform: rotate(-90deg);
		padding-top: 0.1em;
	}
	#thrown-outs-container.rotated180deg #thrown-outs-black .piececount {
		padding-top: 0.7em
	}
	#cover {
		top: calc((-8.4cm * 3) / 28);
	}
}
/* 12cm = 454px (453.543307087) */
@media (orientation: portrait) and (min-width: 12cm) {

	body, button, input {
		font-size: calc(70vmin * 3 / 28);
	}

	#header {
		height: calc((100vw - 70vmin) / 2);
		margin-left: calc((100vw - 70vmin) / 2);
		font-size: calc((100vw - 70vmin) / 3);
	}
	#board, #cover {
		margin-left: calc((100vw - 70vmin) / 2);
		width: 70vmin;
	}
	#board {
		margin-top: calc((100vw - 70vmin) / 2);
		height: 70vmin;
	}
	#cover {
		height: 70vmin;
		top: calc((-70vmin * 3) / 28);
	}
	#thrown-outs-container {
		margin-left: calc((100vw - 70vmin) / 2);
		width: 70vmin;
		height: calc(70vmin * 3 / 28);
		transform-origin: center -35vmin;
	}

	#board div.edging.horizontal {
		line-height: calc(70vmin * 2 / 28);
	}
	#board div.edging.vertical {
		line-height: calc(70vmin * 3 / 28);
	}
	#board div.edging.corner {
		line-height: calc(70vmin * 2 / 28);
	}
	#promotion-overlay span.piece {
		margin: 0 calc((70vmin * 3 / 28) / 4);
		width: calc(70vmin * 3 / 28);
		height: calc(70vmin * 3 / 28);
		font-size: calc((70vmin * 3 / 28) * 5 / 6);
	}

}

@media (orientation: landscape) {
	#board, #thrown-outs-container, #cover {
		margin-left: calc((100vw - 100vh) / 2);
	}
	#header {
		display: initial;
		margin: 0;
		padding: 0;
		font-size: calc((100vw - 100vmin) / 3);
		width: calc((100vw - 100vmin) / 2);
		top: calc((100vh - 100vmin) / 2);
		writing-mode: vertical-rl;
		text-orientation: upright;
		white-space: nowrap;
	}
}
@media (orientation: landscape) and (max-aspect-ratio: 32/28) {
	#header {
		display: flex;
		width: calc(100vmin * 2 / 28); 
		height: calc(100vmin * 2 / 28); 
		margin: 0;
		margin-left: calc((100vw - 100vmin) / 2);
		padding: 0;
		padding-left: 0.5em;
		font-size: calc((100vmin * 2 / 28) / 3.3);
		writing-mode: initial;
		text-orientation: initial;
		white-space: initial;
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 34/28) {
	#header {
		font-size: calc(70vmin * 3 / 28);
	}
	#thrown-outs-container {
		height: calc(100vmin * 3 / 28);
		transform: rotate(-90deg);
		transform-origin: center -50vmin;
	}
	#thrown-outs-container .piececount {
		transform: rotate(90deg);
	}
	#thrown-outs-white .piececount {
		padding-top: 0.7em
	}
	#thrown-outs-container.rotated180deg .piececount {
		transform: rotate(-90deg);
		padding-top: 0.1em;
	}
	#thrown-outs-container.rotated180deg #thrown-outs-black .piececount {
		padding-top: 0.7em
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 43/28) {
	#header {
		display: flex;
		width: calc(100vmin * 2 / 28); 
		height: calc(100vmin * 2 / 28); 
		margin: 0;
		padding: 0;
		padding-left: 0.5em;
		font-size: calc((100vmin * 2 / 28) / 3.3);
		writing-mode: initial;
		text-orientation: initial;
		white-space: initial;
	}
	#board, #thrown-outs-container {
		margin-left: 0;
	}
	#cover {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100vw - ((100vmin / 28) * 31));
		height: 100vmin;
		margin: 0;
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 59/28) {
	#header {
		/*
		display: initial;
		width: calc((100vw - ((100vmin / 28) * 59)) / 2);
		font-size: calc((100vw - ((100vmin / 28) * 59)) / 2);
	 */
		margin-left: calc((100vw - ((100vmin / 28) * 59)) / 2);
	}
	#board, #thrown-outs-container {
		margin-left: calc((100vw - ((100vmin / 28) * 59)) / 2);
	}
	#cover {
		right: calc((100vw - ((100vmin / 28) * 59)) / 2);
		width: 100vmin;
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 64/28) {
	#header {
		width: calc((100vw - ((100vmin / 28) * 59)) / 2);
		height: initial;
		font-size: calc((100vmin * 2) / 28);
		margin: 0;
		padding: 0;
		top: calc((100vh - 100vmin) / 2);
		writing-mode: vertical-rl;
		text-orientation: upright;
		display: initial;
		white-space: nowrap;
	}
}

/* 8.4cm = 318px (317.480314961)*/
@media (orientation: landscape) and (min-height: 8.4cm) {
	body, button, input {
		font-size: calc(8.4cm * 3 / 28);
	}

	#header {
		margin-left: calc((100vw - 8.4cm) / 2);
		margin-top: calc((100vh - 8.4cm) / 2);
		/*
		display: initial;
		margin: 0;
		padding: 0;
		font-size: calc((100vw - 8.4cm) / 3);
		width: calc((100vw - 8.4cm) / 2);
		top: calc((100vh - 8.4cm) / 2);
		writing-mode: vertical-rl;
		text-orientation: upright;
		white-space: nowrap;
		*/
	}
	#board, #cover, #thrown-outs-container {
		margin-left: calc((100vw - 8.4cm) / 2);
		width: 8.4cm;
	}
	#board {
		margin-top: calc((100vh - 8.4cm) / 2);
		height: 8.4cm;
	}
	#thrown-outs-container {
		height: calc(8.4cm * 2 / 28);
		line-height: calc(8.4cm * 2 / 28);
	}
	

	#board div.edging.horizontal {
		line-height: calc(8.4cm * 2 / 28);
	}
	#board div.edging.vertical {
		line-height: calc(8.4cm * 3 / 28);
	}
	#board div.edging.corner {
		line-height: calc(8.4cm * 2 / 28);
	}
	#promotion-overlay span.piece {
		margin: 0 calc((8.4cm * 3 / 28) / 4);
		width: calc(8.4cm * 3 / 28);
		height: calc(8.4cm * 3 / 28);
		font-size: calc((8.4cm * 3 / 28) * 5 / 6);
	}
}
/* 10.2cm = 386px (385.511811024) */
@media (orientation: landscape) and (min-width: 10.2cm) and (min-height: 8.4cm) {
	#header {
		display: initial;
		top: calc((100vh - 8.4cm) / 2);
		margin: 0;
		padding: 0;
		width: calc((100vw - 8.4cm) / 2);
		height: initial;
		font-size: calc((8.4cm * 2) / 28);
		writing-mode: vertical-rl;
		text-orientation: upright;
		white-space: nowrap;
	}
	#board, #cover, #thrown-outs-container {
		margin-left: calc((100vw - 8.4cm) / 2);
	}
	#thrown-outs-container {
		height: calc(8.4cm * 3 / 28);
		transform: rotate(-90deg);
		transform-origin: center -4.2cm;
	}
	#thrown-outs-container .piececount {
		transform: rotate(90deg);
	}
	#thrown-outs-white .piececount {
		padding-top: 0.7em
	}
	#thrown-outs-container.rotated180deg .piececount {
		transform: rotate(-90deg);
		padding-top: 0.1em;
	}
	#thrown-outs-container.rotated180deg #thrown-outs-black .piececount {
		padding-top: 0.7em
	}
}
/* 12.9cm = 488px (487.559055118) */
@media (orientation: landscape) and (min-width: 12.9cm) and (min-height: 8.4cm) {
	#header {
		display: flex;
		top: calc((100vh - 8.4cm) / 2);
		width: calc(8.4cm * 2 / 28); 
		height: calc(8.4cm * 2 / 28); 
		margin: 0;
		padding: 0;
		padding-left: 0.5em;
		font-size: calc((8.4cm * 2 / 28) / 3.3);
		writing-mode: initial;
		text-orientation: initial;
		white-space: initial;
    /*
		font-size: calc((100vh - 8.4cm) / 3);
    padding-top: 0.5em;
		top: 0;
		left: 0;
		writing-mode: initial;
		text-orientation: initial;
		width: 8.4cm;
		*/
	}
	#board, #thrown-outs-container {
		margin-left: 0;
	}
	#cover {
		position: absolute;
		top: calc((100vh - 8.4cm) / 2);
		left: 9.3cm;
		width: calc(100vw - 9.3cm);
		height: 8.4cm;
		min-height: 8.4cm;
		margin: 0;
	}
}
/* 17.7cm = 669px (668.976377953) */
@media (orientation: landscape) and (min-width: 17.7cm) and (min-height: 8.4cm) {
	#header, #board, #thrown-outs-container {
		margin-left: calc((100vw - ((8.4cm / 28) * 59)) / 2);
	}
	#cover {
		left: calc(((100vw - ((8.4cm / 28) * 59)) / 2) + 9.3cm);
		width: 8.4cm;
	}
}
/* 18.6cm = 703px (702.992125984) */
@media (orientation: landscape) and (min-width: 18.6cm) and (min-height: 8.4cm) {
	#header {
		display: initial;
		margin: 0;
		padding: 0;
		font-size: calc((100vw - ((8.4cm / 28) * 59)) / 3);
		width: calc((100vw - ((8.4cm / 28) * 59)) / 2);
		top: calc((100vh - 8.4cm) / 2);
		writing-mode: vertical-rl;
		text-orientation: upright;
		white-space: nowrap;
	}
}
/* 19.5cm = 738px (737.007874016) */
@media (orientation: landscape) and (min-width: 19.5cm) and (min-height: 8.4cm) {
	#header {
		font-size: calc((8.4cm * 2) / 28);
	}
}

/* 12cm = 454px (453.543307087) */
@media (orientation: landscape) and (min-height: 12cm) {
	body, button, input {
		font-size: calc(70vmin * 3 / 28);
	}

	#board, #cover, #thrown-outs-container {
		margin-left: calc((100vw - 70vmin) / 2);
		width: 70vmin;
	}
	#header {
		display: initial;
		font-size: calc((100vh - 70vmin) / 3);
		padding-top: 0.5em;
		top: 0;
		left: calc((100vw - 70vmin) / 2);
		writing-mode: initial;
		text-orientation: initial;
		width: auto;
		padding-left: 0;
	}
	#board {
		margin-top: calc((100vh - 70vmin) / 2);
		height: 70vmin;
	}
	#thrown-outs-container {
		height: calc(70vmin * 3 / 28);
		transform-origin: center -35vmin;
	}
	#cover {
		position: relative;
		top: 0;
		left: 0;
	}
	

	#board div.edging.horizontal {
		line-height: calc(70vmin * 2 / 28);
	}
	#board div.edging.vertical {
		line-height: calc(70vmin * 3 / 28);
	}
	#board div.edging.corner {
		line-height: calc(70vmin * 2 / 28);
	}
	#promotion-overlay span.piece {
		margin: 0 calc((70vmin * 3 / 28) / 4);
		width: calc(70vmin * 3 / 28);
		height: calc(70vmin * 3 / 28);
		font-size: calc((70vmin * 3 / 28) * 5 / 6);
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 43/40) and (min-height: 12cm) {
	#header {
		left: 0;
	}
	#board, #thrown-outs-container {
		margin-left: 0;
	}
	#cover {
		position: absolute;
		top: calc((100vh - 70vmin) / 2);
		left: calc((70vmin * 31) / 28);
		width: calc(100vw - ((70vmin * 31) / 28));
		height: 70vmin;
		margin: 0;
	}
}
@media (orientation: landscape) and (min-aspect-ratio: 59/40) and (min-height: 12cm) {
	#header {
		left: calc((100vw - ((70vmin * 59) / 28)) / 2);
	}
	#board, #thrown-outs-container {
		margin-left: calc((100vw - ((70vmin * 59) / 28)) / 2);
	}
	#cover {
		left: calc(((100vw - ((70vmin *59) / 28)) / 2) + ((70vmin * 31) / 28));
		width: 70vmin;
	}
}

/* zen mode */
body.zen-mode #header,
body.zen-mode #thrown-outs-container,
body.zen-mode #cover,
body.zen-mode #footer { 
	opacity: 0;
	z-index: 0;
}
body.zen-mode #board {
	font-size: calc(100vmin * 3 / 28);
	top: calc((100vh - 100vmin) / 2);
	left: calc((100vw - 100vmin) / 2);
	width: 100vmin;
	height: 100vmin;
	margin: 0;
	z-index: 1;
}
body.zen-mode #board div.edging.corner {
	width: 0;
	height: 0;
}
body.zen-mode #board div.edging.horizontal {
	left: 0;
	width: 100%;
	height: 1em;
	z-index: 3;
	line-height: normal;
	font-size: calc(1em / 6);
}
body.zen-mode #board div.edging.vertical{
	top: 0;
	width: auto;
	height: 100%;
	z-index: 3;
	line-height: calc(100vmin * 3.5 / 28);
	font-size: calc(1em / 6);
}
body.zen-mode #board div.grid {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
body.zen-mode	#promotion-overlay {
	width: 100vmin;
	height: 100vmin;
	z-index: 4;
}
body.zen-mode #promotion-overlay span.piece {
	margin: 0 calc((100vmin * 3 / 28) / 4);
	width: calc(100vmin * 3 / 28);
	height: calc(100vmin * 3 / 28);
	font-size: calc((100vmin * 3 / 28) * 5 / 6);
}
body.zen-mode #notification-overlay {
	z-index: 5;
}
